{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <h1>404 - This Page Does Not Exist</h1>
      <p>unless you were trying to get this error, in which case, good for you i guess.</p>
    </div>
  </div>
{{ end }}

